body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #2E272E;
}
.cadastro-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Coloca a imagem atrás do conteúdo */
    opacity: 1;
    /* Ajuste a opacidade conforme necessário */
}
header {
    background-color: rgba(51, 51, 51, 0.2); /* Cor com transparência */

    box-shadow: 0px 5px 20px #000;

    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left-content{
    flex: 1;
    text-align: left;
}
.right-content {
    flex: 1;
    text-align: right;
}


/* --------------------------------------- */


/* ------------Div do meio------------ */

.container{
    max-width: 1200px; /*pq?*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: green; */
    z-index: 0;
    
}
.container div{
    flex: 1 1 300px;
    justify-content: space-around;
    align-items: center;
    /* margin: 10px; */
}

/* ------------Div do meio------------ */
.div-meio{
    align-items: center;
}
.bruxa{
    width: 100%;
    border-radius: 10px;
    flex-grow: 1;
    align-items: center;
    /* background-color: aquamarine; Não seria legal de colocar para monstros maiores? */
}

/* ------------Div da esquerda------------ */
.accordion {
    max-width: 300px;
    /* margin: 10px auto 0; */
    align-items: center;
    border-radius: 3px;
    background: #f1f1f1;
}

.accordion-visible {
    background: #0B3C35;
    width: 100%;
    color: #DDF9F4;
    cursor: pointer;
    border: 1px solid #46F2D8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.accordion-visible span {
    /* padding: 15px 0;
    font-size: 20px; */
    padding: 10px 0;
    font-size: 18px;
}
.accordion-visible img {
    width: 20px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}
.accordion-visible img.active {
    transform: rotate(0deg)
}

.accordion-visible h2 {
    /* font-size: 20px; */
    font-size: 18px;
}

.accordion-toggle {
    height: 0px;
    font-size: 15px;
    opacity: 0;
    transition:  
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
    color: #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.animated {
    opacity: 1;
    transition:  
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
}

.accordion-toggle p {
    margin: 0;
    padding: 22px 15px;
    pointer-events: none;
    line-height: 1.3;
}
/* ------------Div da direita------------ */

.div-direita{
    flex:1;
    color: white;
    text-align: left;
    padding: 20px;
    /* background-color:red; */
}

