body {
  background-color: black;
 
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

}

.svg-container {
  display: flex;
  justify-content: space-between; /* Isso adicionará espaçamento entre os SVGs */
  align-items: center; /* Alinhar verticalmente no centro */
}

.svg-item {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Adicione uma transição suave de escala */
}

.svg-item.selected {
  transform: scale(1.5); /* Aumenta o tamanho quando selecionado */
}



